:host {
    display: grid;
    grid-template-rows: min-content auto min-content;
    min-height: 350px;
    grid-row-gap: 0.5rem;
}

.mat-close-dialog-button {
    float: right;
    display: flow-root;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.button__back {
    display: flex;
    justify-content: center;
}